# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=ihv04p7t
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2023-12-01
NEXT_PUBLIC_SANITY_USE_CDN=true

# Optional: For server-side operations
SANITY_API_TOKEN=your_sanity_token_here
